In [53]:
import psycopg2

<center><h2>Connection a la base de données </h2></center>

In [54]:
conn = psycopg2.connect(database="airlinedb",user="dataengeneer",host="localhost",password="1234",port="5432")

requete qui me permettra de lister les patients ayant un rendez-vous avec le docteur ayant un id=3

In [55]:
requete = '''
select * from passengers '''

execution de la requete

In [57]:
curseur = conn.cursor()

curseur.execute(requete)

resultat = curseur.fetchall()
print(resultat)

[(1, 'Anita', 'Desai', datetime.date(1988, 2, 14)), (2, 'Raj', 'Patel', datetime.date(1992, 3, 22)), (3, 'Simran', 'Kapoor', datetime.date(1978, 11, 8))]

sauvegarder les données dans un dataFrame

In [59]:
import pandas as pd
cols = ['PassengersID', 'FirstName', 'LastName', 'DateOfBirth']
df = pd.DataFrame(resultat, columns=cols)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengersID  3 non-null      int64
 1   FirstName     3 non-null      object
 2   LastName      3 non-null      object
 3   DateOfBirth   3 non-null      object
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

In [60]:
df.head()

   PassengersID FirstName LastName DateOfBirth
0             1     Anita    Desai  1988-02-14
1             2       Raj    Patel  1992-03-22
2             3    Simran   Kapoor  1978-11-08

In [61]:
#Sauvegarder les donnnées dans un fichier airlinedb.csv

df.to_csv('./datas/airlinedb.csv')

Ceci n'est qu'un exemple tres basique le but etant de vous montrer comment cela marche en realité, de meme vous pouvez mettre a jour  les informations de la BD ainsi qu'inserer les inforamations