<center><h2>Collecter les données a partir du web</h2></center>

In [3]:
pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Collecting lxml
  Downloading lxml-5.3.1-cp310-cp310-manylinux_2_28_x86_64.whl (5.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.2/5.2 MB 53.8 kB/s eta 0:00:0000:0100:03m
Installing collected packages: lxml
Successfully installed lxml-5.3.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [7]:
data_table = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)#Table'")

verifier le type de données contenu dans chaque table

In [13]:
for every_element  in  data_table:
    print(type(every_element))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

afficher le contenu de chaque colonne

In [14]:
for i in data_table:
    print(i.columns)

Index([0], dtype='int64')
Index([0, 1, 2], dtype='int64')
MultiIndex([( 'Country/Territory', 'Country/Territory'),
            (        'IMF[1][13]',          'Forecast'),
            (        'IMF[1][13]',              'Year'),
            (    'World Bank[14]',          'Estimate'),
            (    'World Bank[14]',              'Year'),
            ('United Nations[15]',          'Estimate'),
            ('United Nations[15]',              'Year')],
           )
Index(['vteLists of countries by financial rankings', 'vteLists of countries by financial rankings.1'], dtype='object')
Index(['vteLists of countries by GDP rankings', 'vteLists of countries by GDP rankings.1'], dtype='object')
Index(['vteEconomic classification of countries', 'vteEconomic classification of countries.1'], dtype='object')
Index([0, 1], dtype='int64')

In [15]:
dataframe = data_table[2]
dataframe.head(5)

  Country/Territory IMF[1][13]            World Bank[14]             \
  Country/Territory   Forecast       Year       Estimate       Year
0             World  115494312       2025      105435540       2023
1     United States   30337162       2025       27360935       2023
2             China   19534894  [n 1]2025       17794782  [n 3]2023
3           Germany    4921563       2025        4456081       2023
4             Japan    4389326       2025        4212945       2023

  United Nations[15]
            Estimate       Year
0          100834796       2022
1           25744100       2022
2           17963170  [n 1]2022
3            4076923       2022
4            4232173       2022